body {
    background-image: url("images/nick-chong-N__BnvQ_w18-unsplash\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #282A33;
}


.box {
    background: rgba(255, 255, 255);
    padding: 10px 20px 25px;
    border-radius: 20px;
    border: 5px solid #57b4af;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .container {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}


.stock-quote {
    font-family: Montserrat, sans-serif;
    margin: 50px 100px;
    max-width: 500px;
    min-width: 350px;
}

/* Lines */

.second-line {
    border: 1px solid;
    opacity: 0.3;
}

/* Form */
.card {
    border: none;
}

.input-search {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding: 10px 40% 20px 0;
}

.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn:hover {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Title */

.main-title {
    margin-top: 18px;
}

h1 {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 1.5rem !important;
    display: inline;
}

.last-price-change {
    padding-top: 18px;
}

h2 {
    text-transform: uppercase;
    font-size: 3rem !important;
    display: inline;
}

h3 {
    text-transform: uppercase;
    font-size: 2rem !important;
    display: inline;
    padding-left: 10px;
    /*   color: green; */
}

.timestamp {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0;
}

/* Details */

.desc-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    padding: 8px 3px;
}

.desc-title {
    color: rgba(0, 0, 0, 0.4);
}

.value {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}